* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

footer {
    font-family: Inter, sans-serif;
}

.lks {
    cursor: pointer;
    font-size: 12px;
}

.foot_logo {
    margin-bottom: -10px;
}

.foot_logo h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -4px;
}

body {
    background: linear-gradient(to bottom,
            rgb(2, 161, 182),
            rgb(3, 179, 203),
            rgb(0, 184, 209),
            rgb(1, 185, 210),
            rgb(0, 184, 209),
            rgb(1, 154, 175),
            rgb(2, 133, 151),
            rgb(2, 88, 98),
            rgb(0, 76, 83),
            rgb(1, 46, 47));
    height: 100vh;
}

.teru_to_do {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 70%;
    letter-spacing: -2.4px;
    text-decoration: none;
}

.contact_sales {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-right: 5%;
}

#signup_btn {
    width: 91.44px;
    height: 42.59px;
    color: #A55EAA;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

#login_btn {
    width: 91.44px;
    height: 42.59px;
    background-color: rgba(123, 104, 238, 1);
    border-color: rgba(123, 104, 238, 1);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-right: 1%;
}

.headline {
    margin-top: 5%;
    color: #292D34;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: -0.5px;
}

.about {
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 71.429%;
}

.about_txt {
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

#task,
#reminder,
#dashboard {
    border-radius: 0.7em;
    margin-left: 2%;
    color: #292D34;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
}

#get_started {
    color: #FFF;
    background-color: rgba(123, 104, 238, 1);
    border-color: rgba(123, 104, 238, 1);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border-radius: 0.7em;
    padding: 4.2% 8.3% 4.2% 8.3%;

}

.txt {
    position: relative;
    left: 32%;
    top: -20%;
    color: #04070D;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.txt1 {
    position: relative;
    left: 39.5%;
    top: -25%;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 178.571%;
}
#playwithteru_btn {
    width: 330.44px;
    height: 42.59px;
    background-color: rgba(123, 104, 238, 1);
    border-color: rgba(123, 104, 238, 1);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-right: 1%;
}
.form_txt {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}